# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Archivos temporales de LaTeX
*.aux
*.log
*.toc
*.out
*.fdb_latexmk
*.fls
*.synctex.gz

# Archivos de sistema
.DS_Store
Thumbs.db
